<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Heaven's Above  - Show Order</title>

  {%load static%}
  <link rel="stylesheet" href="{% static 'heaven_app/css/style.css'%}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'heaven_app/css/bootstrap.min.css'%}" rel="stylesheet">
  <!-- Custom styles for this template -->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar absolute-top navbar-expand-lg navbar-dark bg-dark absolute-top">
      <div class="container">
      <a class="navbar-brand" href="/">Heavens above</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/contact">Contact</a>
          </li>
          {%if 'user_id' in request.session%}
              {%if request.session.user_role %}
          <li class="nav-item active">
              <a class="nav-link" href="/admin/{{request.session.user_id}}">DashBoard</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
              {%else%}
          <li class="nav-item active">
              <a class="nav-link" href="/account/{{request.session.user_id}}">Profile</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
              {%endif%}
              {%else%}
              <li class="nav-item active">
              <a class="nav-link" href="/signup">Login/Register</a>
              </li>
              {%endif%}
      </ul>
      </div>
  </nav>
    {%if request.session.user_role %}
    <div class="container mt-5"> 
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">name</th>
            <th scope="col">date of birth</th>
            <th scope="col">place of birth</th>
            <th scope="col">phone</th>
            <th scope="col">total price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this_order.id}}</th>
            <td>{{this_order.name}}</td>
            <td>{{this_order.date_of_birth}}</td>
            <td>{{this_order.place_of_birth}}</td>
            <td>{{this_order.phone}}</td>
            <td>{{this_order.total_price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
      {%else%}
    <h3 style="margin-top:100px; text-align:center"> you are not authorized to get in here</h3>
    {%endif%}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'heaven_app/js/jquery.min.js'%}"></script>
  <script src="{% static 'heaven_app/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>
